* {
  box-sizing: border-box;
  font-family: 'Neutral Regular', sans-serif; }

md-content {
  display: block;
  position: relative; }

md-layout {
  display: flex;
  width: 100%; }

[md-layout-row] {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap; }

[md-layout-row] > * {
  flex: 1 1 0%; }

[md-layout-column] {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }

[md-layout-column] > * {
  flex: 1 1 0%; }

.md-display-1 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #1a1a1a;
  letter-spacing: -0.01em; }

.md-headline {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #1a1a1a; }

.md-title {
  font-size: 20px;
  line-height: 32px;
  margin: 40px 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.005em; }

.md-subheading {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  font-weight: 500; }

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px; }

.logo {
  width: 100%;
  z-index: 10000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #1a1a1a; }
  .logo span {
    color: #fff;
    padding-left: 10px; }

.logo-icon {
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: #1a1a1a;
  text-decoration: none; }

.icon-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #fff;
  transform: scale(0.5625);
  transform-origin: center; }

.revenue {
  text-align: right;
  color: #efefef;
  font-size: 13px;
  line-height: 1.2;
  padding-right: 20px; }
  .revenue span {
    font-weight: normal;
    color: #bbb; }

.card-color {
  background: #1a1a1a;
  height: 100px; }

.color-red {
  background: #cc4141; }
.color-orange {
  background: #f7941d; }
.color-green {
  background: #8dc63f; }
.color-blue {
  background: #0097da; }

.module {
  margin-top: 40px; }

.headings {
  padding-left: 32px; }

.secondary-colors md-card {
  width: 50%;
  flex: initial; }

.article-title {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px; }

[md-button] {
  box-shadow: none;
  border-radius: 0;
  padding: 0 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .05em;
  overflow: hidden;
  border: 2px solid transparent; }

[md-button][color='primary'] {
  background: transparent;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: #1a1a1a;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  [md-button][color='primary']:hover {
    background: #555; }
  [md-button][color='primary']::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transform-origin: center;
    opacity: 0; }
@keyframes ink {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  100% {
    transform: scale(13, 6);
    background: transparent; } }
  [md-button][color='primary']:focus::after {
    animation: ink 0.4s cubic-bezier(0.4, 0, 0.2, 1); }

[md-button][color='secondary'] {
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  [md-button][color='secondary']:hover {
    background: #dedede;
    border-color: #dedede; }
    [md-button][color='secondary']:hover:after {
      display: none; }

[md-button][disabled] {
  background: #efefef; }
  [md-button][disabled]:hover:hover {
    background: #efefef; }
    [md-button][disabled]:hover:hover:after {
      display: none; }

md-list .md-title {
  margin: 0; }
md-list md-list-item {
  min-height: 90px;
  display: flex;
  align-items: center;
  padding: 30px 60px 30px 30px;
  border-bottom: 1px solid #e5e5e5; }
  md-list md-list-item .md-list-item {
    height: auto; }
md-list md-divider {
  margin: 8px -16px;
  border-top: 1px solid #e5e5e5; }
md-list p {
  color: #777; }

.flight {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #555;
  letter-spacing: .05em; }
  .flight span {
    font-size: 12px; }
  .flight .md-title {
    margin: 0; }
  .flight .plane {
    color: #aaa;
    line-height: 1;
    padding: 0 15px;
    transform: scale(0.75, 0.75); }
    .flight .plane md-icon {
      width: 16px;
      height: 16px; }

md-input {
  width: 100%;
  margin: 0 0 30px;
  background: #e5e5e5;
  padding: 15px;
  color: #1a1a1a; }
  md-input label {
    color: #555; }
    md-input label.md-focused {
      display: none; }

md-fab-speed-dial {
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -28px;
  z-index: 1000; }

[md-fab-button] {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #7406B2, #D018EA);
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 5000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  [md-fab-button] md-icon {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  [md-fab-button]:hover {
    background: linear-gradient(45deg, #882BBD, #D73AED); }
  [md-fab-button]:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  [md-fab-button].open md-icon {
    transform: rotate(45deg); }

[md-fab-action] {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  cursor: pointer;
  outline: none;
  margin: 8px 0;
  z-index: 1000;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  [md-fab-action]:hover {
    background: #555; }
  [md-fab-action] svg {
    color: #fff;
    fill: #fff; }

md-fab-actions {
  display: block;
  position: relative;
  height: 56px;
  width: 56px;
  transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: .14s; }
  md-fab-actions [md-fab-action]:nth-of-type(1) {
    transform: translateY(calc(-100% - 8px));
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: .14s;
    position: relative;
    z-index: 1000; }
  md-fab-actions [md-fab-action]:nth-of-type(2) {
    transform: translateY(calc(-200% - 16px));
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    position: relative;
    z-index: 900; }
  md-fab-actions.visible {
    transform: translateY(calc(100% + 16px));
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0; }
    md-fab-actions.visible [md-fab-action]:nth-of-type(2) {
      transform: translateY(-100%);
      transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: .14s; }

.page-header {
  background: linear-gradient(45deg, #50D3E4, #72DDB5);
  padding: 30px 60px 30px 30px;
  color: #fff;
  height: 116px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .page-header p {
    margin: 0; }
  .page-header h2 {
    margin-bottom: 0;
    color: #fff; }

main-header {
  order: 1; }

.page-header {
  order: 2; }

shipment-map, shipments-map {
  order: 3; }

md-content {
  order: 4; }

.shipment-large {
  padding: 30px 60px 30px 30px; }
  .shipment-large .flight {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: flex-end; }
    .shipment-large .flight .plane {
      transform: scale(1.5);
      transform-origin: center;
      align-self: center;
      color: #ccc; }
  .shipment-large .flight-info span {
    display: block; }
  .shipment-large .airport-code {
    font-size: 34px; }
  .shipment-large .airport-name {
    text-transform: capitalize;
    letter-spacing: normal;
    color: #1a1a1a; }
  .shipment-large .shipment-revenue {
    margin-top: 40px;
    letter-spacing: .05em;
    font-size: 12px;
    text-transform: uppercase; }
    .shipment-large .shipment-revenue span {
      display: block; }
    .shipment-large .shipment-revenue .revenue-number {
      font-size: 34px;
      color: #91C73F; }

md-list a {
  text-decoration: none;
  transition: all .2s;
  display: block; }
  md-list a:hover {
    background: #efefef; }

.product-view .shipment-revenue {
  margin-top: 0;
  margin-bottom: 30px; }

.product-form .input-group {
  display: flex; }
  .product-form .input-group .input {
    width: 50%; }
    .product-form .input-group .input:first-of-type {
      margin-right: 10px; }
    .product-form .input-group .input:last-of-type {
      margin-left: 10px; }
.product-form .label {
  font-size: 12px;
  text-transform: uppercase;
  color: #777; }

@keyframes show {
  from {
    background: rgba(26, 26, 26, 0); }
  to {
    background: #1a1a1a; } }
.container {
  display: flex;
  flex-direction: column; }

md-expansion-panel {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 60px 0 30px;
  display: block;
  overflow-y: hidden; }
  md-expansion-panel [md-panel-title] {
    font-weight: 900; }
  md-expansion-panel md-icon {
    color: #777;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
    md-expansion-panel md-icon.open {
      transform: rotate(180deg);
      transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  md-expansion-panel md-panel-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    padding-bottom: 15px;
    cursor: pointer; }
  md-expansion-panel md-panel-options {
    max-height: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: block; }
    md-expansion-panel md-panel-options.open {
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      padding-bottom: 15px;
      max-height: 300px; }
  md-expansion-panel md-radio-button {
    display: block;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer; }
    md-expansion-panel md-radio-button:hover {
      background: #e5e5e5; }
  md-expansion-panel md-radio-button {
    margin: 0 -60px 0 -30px;
    padding: 7px 60px 7px 30px; }

.new-shipment {
  padding: 0;
  padding-bottom: 30px; }
  .new-shipment .shipment-heading {
    margin: 0; }
  .new-shipment [md-button] {
    margin-top: 30px; }

.product-form {
  margin: 0;
  display: flex;
  flex-direction: column; }
  .product-form [md-button] {
    align-self: center; }

shipments-list {
  display: block;
  position: relative;
  z-index: 100;
  margin: -30px -60px 0 -30px;
  box-sizing: content-box; }

@media screen and (min-width: 720px) {
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 400px;
    height: 100vh;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 100; }

  main-header, .page-header, md-content {
    width: 50%;
    max-width: 400px;
    z-index: 200; }

  .logo {
    width: 100%; }

  .logo-icon {
    position: relative;
    z-index: 500;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .logo-icon:hover span {
      color: #dedede; }
    .logo-icon:hover .icon-logo {
      color: #dedede; }

  md-fab-speed-dial {
    right: -28px;
    left: auto;
    margin: 0; }

  .shipment-large {
    height: calc(100vh - (55px + 116px));
    overflow-y: auto; }

  shipments-map, shipment-map {
    min-width: 50%;
    width: calc(100% - 400px);
    order: 2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50; } }

/*# sourceMappingURL=home.component.css.map */
