<div class="container"  *ngIf="!data.loading">
	  <main-header></main-header>
	  <header class="page-header">
		  <h2 class="md-headline">{{ data.product.name }}</h2>
		  <p><strong>SKU:</strong> {{ data.product.sku }}</p>
	  </header>
	  <md-content>
			<div class="content product-view">
		 		<fab></fab>

				<div class="shipment-revenue">
					<span>Cost to Manufacture:</span>
					<span class="revenue-number">{{ data.product.costToManufacture / 100 | currency: 'USD' : 'true' }}</span>
				</div>

				<div class="shipment-revenue">
					<span>Retail Price:</span>
					<span class="revenue-number">{{ data.product.retailPrice / 100 | currency: 'USD' : 'true' }}</span>
				</div>

				<span>Other 3rd party information about product:</span>
			</div>


	  </md-content>
  <shipments-map [latitude]="lat" [longitude]="lng"></shipments-map>
</div>
