* {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Plan Grotesque Regular', sans-serif;
	line-height: 1.7;
	font-size: 16px;
	color: #656565;
	background: #fafafa;
}

[md-fab] span {
	display: flex;
	justify-content: center;
}
